.tw-container {
    &-1580-px {
        max-width: 1580px;
    }
    &-1630-px {
        max-width: 1630px;
    }
    &-1650-px {
        max-width: 1650px;
    }
    &-1680-px {
        max-width: 1680px;
    }
    &-1720-px {
        max-width: 1720px;
    }
    &-1750-px {
        max-width: 1780px;
    }
}