.breadcrumb {
    &-area {
        padding-block: 247px 210px;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            inset-block-start: 0;
            inset-inline-start: 0;
            background: linear-gradient(156deg, #000 0%, rgba(0, 0, 0, 0.66) 59.25%, rgba(0, 0, 0, 0.07) 100%);
            z-index: -1;
        }
    }
    &-title {
        @include sm-screen {
            font-size: 70px;
        }
        @include msm-screen {
            font-size: 68px;
        }
        
    }
}