.custom-control.custom-checkbox {
     display: inline-flex;
     align-items: center;
     gap: 10px;
     & input{
          display: none;
          &:checked{
              & ~ label{
                  &::after{
                      background-color: var(--main-600);
                      border-color: var(--main-600);
                  }
                  &::before{
                      visibility: visible;
                      opacity: 1;
                  }
              }
          }
      }
      & label{
          position: relative;
          padding-inline-start: 26px;
          z-index: 1;
          font-size: 14px;
          letter-spacing: -0.01em;
          color: #848f93;
          &::after{
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            width: 16px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            border: 1px solid rgba(6, 7, 40, 0.2);
            z-index: -1;
            transition: 0.3s;
            border-radius: 3px;
            transform: translateY(-50%);
          }
          &::before{
            content: "\e182";
            position: absolute;
            top: 50%;
            left: 3px;
            font-size: 10px;
            text-align: center;
            visibility: hidden;
            opacity: 0;
            color: hsl(var(--white));
            transition: 0.3s;
            font-family: "Phosphor";
            transform: translateY(-50%);
          }
      }
}