// pagination widget
.widget-pagination {
  & ul {
    display: flex;
    gap: 10px;
    align-items: center;
    & li {
      cursor: pointer;
      transition: .4s;
      & i {
        font-size: 14px;
      }
      & a {
        width: 56px;
        height: 52px;
        line-height: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;    
        border: 1px solid #ededed;
        color: hsl(var(--black));
        &:hover {
            background: var(--main-600);
            color: hsl(var(--white));
            border: 1px solid var(--main-600);
        }
      }
    }
  }
}