/* ================================= preload Css Start =========================== */
.loading-screen {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: hsl(var(--white));
  z-index: 1000;
}

.loading-screen .bar {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: transparent;
}

.loading-screen .top-bar {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
}

.loading-screen .down-bar {
  bottom: 0;
  top: auto;
  right: 0;
  left: auto;
}

.loading-screen .animation-preloader {
    z-index: 1000;
    width: 70%;
    margin: auto;
    text-align: center;
}





.loading-screen .animation-preloader .txt-loading {
  font: bold 4rem "Marcellus", sans-serif;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading-screen .animation-preloader .txt-loading .letters-loading {
  color: var(--main-600);
  position: relative;
}

.loading-screen .animation-preloader .txt-loading .letters-loading:before {
  -webkit-animation: letters-loading 4s infinite;
  animation: letters-loading 4s infinite;
  color: var(--main-two-600);
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  font-family: "Marcellus", sans-serif;
  position: absolute;
  top: -3px;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.loading-screen .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading-screen .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loading-screen .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.loading-screen .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.loading-screen .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.loading-screen .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.loading-screen .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .loading-screen .animation-preloader .spinner img {
    width: 8em;
  }

  .loading-screen .animation-preloader .txt-loading {
    font: bold 3.5em "Marcellus", sans-serif;
  }
}

@media screen and (max-width: 500px) {
  .loading-screen .animation-preloader .spinner img {
    width: 7em;
  }

  .loading-screen .animation-preloader .txt-loading {
    font: bold 2em "Marcellus", sans-serif;
  }
}



.loader-border {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: inline-flex;
    justify-content: center;
	border-top: 4px solid var(--main-600);
	border-right: 4px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	position: relative;
	z-index: 11;
    &::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border-bottom: 4px solid hsl(var(--black));
        border-left: 4px solid transparent;
    }
}
@keyframes rotation {
 0% {
   transform: rotate(0deg);
 }
 100% {
   transform: rotate(360deg);
 }
} 
/* ================================= preload Css End ===========================  */
