.banner-two {
    &-area {
        padding-block: 230px 200px;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            inset-block-start: 0;
            inset-inline-start: 0;
            background: linear-gradient(156deg, #000 0%, rgba(0, 0, 0, 0.66) 59.25%, rgba(0, 0, 0, 0.07) 100%);
            z-index: -1;
        }
    }
    &-content {
        padding-inline-start: 170px;
        @include xxxl-screen {
            padding-inline-start: 90px;
        }
        @include xl-screen {
            padding-inline-start: 20px;
        }
    }
    &-title {
        @include xxxxl-screen {
            font-size: 90px;
        }
        @include xl-screen {
            font-size: 80px;
        }
        @include sm-screen {
            font-size: 60px;
        }
        @include msm-screen {
            font-size: 43px;
        }
    }
    &-form {
        max-width: 500px;
        width: 100%;
        margin-inline-start: auto;
        @include xl-screen {
            margin-inline-start: 0;
            padding-inline: 20px;
        }
        @include lg-screen {
            margin-inline-start: 32px;
        }
        @include msm-screen {
            margin-inline-start: 0;
        }
    }
    &-input {
        color: hsl(var(--black)) !important;
        &::placeholder {
            color: hsl(var(--black)) !important;
        }
    }
    &-form-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        inset-block-start: -7px;
        inset-inline-start: -8px;
        border-radius: 10px;
        z-index: -1;
    }
}







.tp {
    &-shop-quantity {
        background: hsl(var(--white));
        padding: 10px 23px;
        @include xl-screen {
            flex-wrap: wrap;
            row-gap: 10px;
        }

    }
    &-quantity {
        width: 80px;
        margin: 0 0 0 auto;
        @include xl-screen {
            margin: 0 0 0 0;
        }
        @include lg-screen {
            margin: 0 0 0 auto;
        }
        & input {
            width: 82px;
            height: 34px;
            text-align: center;
            border: 1px solid rgba(7, 32, 50, 0.09) !important;
            border-radius: 6px;
        }
        & .cart-minus {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 8px;
            cursor: pointer;
        }
        & .cart-plus {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 8px;
            cursor: pointer;
        }
    }
}

