

.banner-three {
    &-area {
        padding: 270px 0 220px;
        @include sm-screen {
        	padding: 200px 0 120px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            inset-block-start: 0;
            inset-inline-start: 0;
            background: linear-gradient(0deg, rgba(1, 43, 69, 0.31) 16.95%, rgba(1, 55, 88, 0.31) 44.68%, rgba(3, 107, 171, 0.31) 100%);
            z-index: -1;
        }
    }
    &-title {
        font-size: 160px;
        line-height: 99%;
        letter-spacing: -0.01em;
        @include xxl-screen {
            font-size: 156px;
        }
        @include xl-screen {
            font-size: 128px;
        }
        @include md-screen {
           font-size: 119px;
        }
        @include sm-screen {
            font-size: 89px;
        }
        @include msm-screen {
            font-size: 69px;
        }

    }
}
