.cta {
    &-area {
        @include sm-screen {
            margin-inline: 0;
            border-radius: 0;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            inset-inline-start: 0;
            inset-block-end: 0;
            background: linear-gradient(180deg, #1a1a1a 0%, rgba(22, 22, 22, 0.85) 53.06%, rgba(0, 0, 0, 0) 100%);
            z-index: -1;
        }
    }
    &-title {
        line-height: 96%;
        @include xxxxl-screen {
            font-size: 90px;
            line-height: 111%;
        }
        @include xl-screen {
            font-size: 80px;
        }
        @include sm-screen {
            font-size: 60px;
        }
    }
    &-form {
        & input {
            border: none;
            border-bottom: 1px solid hsl(var(--white));
            height: 40px;
            &::placeholder {
                color: hsl(var(--white));
            }
            &:focus {
                border: none;
                border-bottom: 1px solid hsl(var(--white));
                outline: 0;
            }
        }
    }
}






.cta-three {
    &-wrapper {
        background: rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(10px);
        @include msm-screen {
            padding-inline: var(--size-5);
        }
        @include xsm-screen {
            padding-inline: var(--size-5);
        }

    }
}